body {
    margin: 0;
    height: 100vh;
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

#contenedor {
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
  }

.columna-izquierda {
      width: 30%;
      display: flex;
      flex-direction: column;
  }
  

#izq1 {
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
    flex-basis: 180px;
    background-image: url(../imagenes/Logo.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: center;

}

#izq2 {
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
    flex-basis: 250px;
    background-image: url(../imagenes/tasa\ del\ día.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

#izq3 {
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
    flex-basis: 20px;
    background-image: url(../imagenes/Contacto.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom;
}
  
  .columna-derecha {
      width: 70%;
      display: flex;
      flex-direction: column;
  }
  
  .columna-derecha > div:first-child {
      height: 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: x-large;
      font-weight: bolder;
      text-transform: capitalize;
      color: chocolate;
      text-align: center;
      vertical-align: middle;
      line-height: 100px;
  }
  
  .cuadro-centrado {
      width: 95%;
      height: 100%;
      background-color: #be5656;
      margin: auto;
      margin-top: 20px;
      text-align: center;
      line-height: 100px;

  }
  
h1 {
    -webkit-text-stroke: 2px rgb(114, 108, 108); /* para Chrome y Safari */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

.tasa {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    text-transform: capitalize;
}

.fila {
  display: flex;
  height: 33.3%;
}

.columna {
  flex: 1;
  border: 3px dotted red;
}

